* {
    font-size: 16px;
    box-sizing: border-box;
}
video#video_background {
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
}
section#root {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
}
section#root header#root_header {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
    width: 100%;
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px -4px rgb(0 0 0 / 50%);
}
section#root h1.root_title {
    text-align: center;
    color: white;
    font-weight: bold;
    user-select: none;
    margin: 0.2em 0;
    margin-bottom: 0.8em;
}
section#root h1.root_title {
    font-size: 2.2em;
}
section#root h1.root_title span.root_title--greeting,
span.root_user--greeting {
    font-size: 1em;
}
section#root div#root_bookmarks {
    padding: 0 12em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
section#root div#root_bookmarks .root_bookmarks-item {
    margin: 1.2em;
    transition: all 0.1s linear;
}
section#root div#root_bookmarks .root_bookmarks-item .root_bookmarks-link {
    text-decoration: none;
}
div.card {
    position: relative;
    overflow: hidden;
    user-select: none;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.39);
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
    box-shadow: 2px 4px 12px -4px rgb(0 0 0 / 20%);
    transition: all 0.1s linear;
}
div.card .card_thumbnail {
    padding: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.card .card_title {
    color: white;
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    padding: 6px 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px -4px #0000003d;
}
div.card .card_title p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.root_bookmarks-link:hover div.card {
    transform: scale(1.15) translateY(-24px);
    box-shadow: 6px 20px 30px -6px rgb(0 0 0 / 50%);
}
a.root_bookmarks-link:hover div.card::before {
    content: "";
    position: absolute;
    top: -90%;
    left: -100%;
    height: 300%;
    width: 80%;
    transform: rotate(20deg);
    animation: glassEffect 0.4s linear;
    background: linear-gradient(90deg, transparent, #ffffff6e, transparent);
}
section#root div#root_timer {
    text-align: center;
    color: white;
    font-weight: bold;
    user-select: none;
    margin-top: 0.4em;
    font-size: 5em;
}
section#root div#root_timer p {
    margin: 0;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    user-select: none;
    font-size: 1em;
    width: 120px;
}
div.root_quote_container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 4em;
    text-align: center;
    margin-bottom: 4em;
}
div.root_quote_container p.root_quote {
    width: 60%;
    margin: 0;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    text-shadow: 0px 2px 6px #00000038;
}
@keyframes glassEffect {
    from {
        left: -100%;
    }
    to {
        left: 110%;
    }
}
